body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.container {
}

.node-list {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
}

.node {
  border: 2px solid #999999;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.node-name {
  color: #555555;
}

.node-role {
  color: #555555;
}

.node-ip {
  color: #555555;
}

.node-pods {
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
}

.pod {
  background: #eeeeee;

  border: 1px solid #aaaaaa;
  border-radius: 5px;

  padding: 5px;
  margin: 5px;

  font-size: 80%;
  text-align: center;
}

.pod-name {
}

.pod-status-running {
  background: #d4ffc7;
}

.pod-status-pending {
  background: #fcf5a2;
}

.pod-status-succeeded {
  background: #e0edff;
}